@import "tailwindcss";


body, html{
  padding: 0;
  font-family: system-ui;

}

@layer utilities {
  @keyframes spring-left {
    0% {
      padding-left: 16px; /* pl-4 */
    }
    40% {
      padding-left: 50px;
    }
    65% {
      padding-left: 42px;
    }
    80% {
      padding-left: 48px;
    }
    100% {
      padding-left: 50px;
    }
  }

  .animate-spring-left {
    animation: spring-left 0.35s ease-out forwards;
  }
  
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a1a1aa #e5e7eb;
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #a1a1aa;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: #e5e7eb;
  }

  /* Scrollbar en modo oscuro */
  .scrollbar-dark {
    scrollbar-color: #222224 #18181b !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}